# ສຳເນົາໄຟລ໌ນີ້ເປັນ .env ແລ້ວແກ້ຄ່າໃຫ້ຖືກກັບເຄື່ອງຂອງທ່ານ
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/fbmonoy?schema=public"

NEXT_PUBLIC_BASE_CURRENCY="LAK"

FB_API_VERSION="v21.0"
FB_ACCESS_TOKEN=""
FB_APP_ID=""
FB_APP_SECRET=""
